/LabCE-API/.vs
/.vs
/LabCE-API/LabCE-API/bin/Debug/net8.0/runtimes
/LabCE-API/LabCE-API/bin/Debug/net8.0
/LabCE-API/LabCE-API/obj/Debug/net8.0/ref
/LabCE-API/LabCE-API/obj/Debug/net8.0/refint
/LabCE-API/LabCE-API/obj/Debug/net8.0/staticwebassets
/LabCE-API/LabCE-API/obj/Debug/net8.0
/LabCE-API/LabCE-API/obj/Release/net8.0
/LabCE-API/LabCE-API/obj
/LabCE-API/LabCE-BLL/bin/Debug/net8.0
/LabCE-API/LabCE-BLL/obj/Debug/net8.0/ref
/LabCE-API/LabCE-BLL/obj/Debug/net8.0/refint
/LabCE-API/LabCE-BLL/obj/Debug/net8.0
/LabCE-API/LabCE-BLL/obj/Release/net8.0
/LabCE-API/LabCE-BLL/obj
/LabCE-API/LabCE-DALSQL/bin/Debug/net8.0
/LabCE-API/LabCE-DALSQL/obj/Debug/net8.0/ref
/LabCE-API/LabCE-DALSQL/obj/Debug/net8.0/refint
/LabCE-API/LabCE-DALSQL/obj/Debug/net8.0
/LabCE-API/LabCE-DALSQL/obj/Release/net8.0
/LabCE-API/LabCE-DALSQL/obj
/LabCE-API/LabCE-MODEL/bin/Debug/net8.0
/LabCE-API/LabCE-MODEL/obj/Debug/net8.0/ref
/LabCE-API/LabCE-MODEL/obj/Debug/net8.0/refint
/LabCE-API/LabCE-MODEL/obj/Debug/net8.0
/LabCE-API/LabCE-MODEL/obj/Release/net8.0
/LabCE-API/LabCE-MODEL/obj
/LabCE-API/LabCE-API/LabCE-API.csproj.user
