.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.box {
    background-color: rgb(234, 234, 189);
    border-radius: 25px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h1 {
    margin-bottom: 3rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.instructions>svg {
    margin-right: 0.25rem;
    color: white
}

.instructions {
    color: white;
}

input[type="password"],
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

label,
button {
    margin-top: 1rem;
}

button {
    padding: 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}