
.body{
    background: rgb(249,249,249);
    background: radial-gradient(circle, #7aa4b6 50%, #eeb281 100%);
    color: rgba(0, 0, 0, 0.87);
    font-family: Bebas Neue;
    font-weight: 400;
    
  }


.form {
    border: color #40A2D8;
    ;
    background-color: #8166eb;
    font-family: Bebas Neue;
    padding: 1rem;
    width: 25rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    border-radius: 20px;
}

.form label {
    display: block;
    font-family: Bebas Neue;
    margin-bottom: 0.05rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.form input,
.form textarea {
    display: block;
    width: 95%;
    font-family: Bebas Neue;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #40A2D8;
    color: #28262c;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #34036c;
    color: #e5d5f7;
}

.actions button:hover {
    background-color: #23014a;
}

.actions button[type='button'] {
    background-color: transparent;
}

.actions button[type='button']:hover {
    color: #d1bee6;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.instructions {
    margin-top: 1rem;
    color: white
}

.toptobottom {
    animation: 1.3s top-to-bottom forwards;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: Bebas Neue;
    color: rgba(0,0,0,0.8);
    text-align: center;
    position: fixed;
    top: 0;
    margin-right: 36%;
    margin-top: 5%;
    } 
   @keyframes top-to-bottom {
    from {
    transform: translateY(-50px);
    }
    to {
    transform: translateY(0);
    }
    }
    